<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your precise location is used to record new trails, show your location on the map, and help improve the map.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>LocationAccuracyAuthorizationDescription</key>
		<string>Please enable precise location to increase the accuracy of trail recording.</string>
	</dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
</dict>
</plist>
